<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        
        <RollingFile name="fileAppender" fileName="log/server.log" filePattern="log/server.%i.log.gz" append="true">
            <PatternLayout pattern="[%5p] %d{dd-MMM-yyyy HH:mm:ss} [%C] - %m%n"/>
            <SizeBasedTriggeringPolicy size="100mb" />
        </RollingFile>

        
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%5p] %d{dd-MMM-yyyy HH:mm:ss} [%C] - %m%n"/>
        </Console>
        
    </Appenders>
    <Loggers>
   
       
        
        
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="fileAppender"/>
        </Root>
   
        
        
    </Loggers>
</Configuration>